apiVersion: v1
kind: Secret
metadata:
  name: redis-secret
type: Opaque
stringData:
  account-sid: {{ twilio_account_sid }}
  auth-token: {{ twilio_auth_token }}
  verify-service-sid: {{ twilio_verify_service_sid }}
