node_modules
dist
.vite
.git
.gitignore
Dockerfile
nginx.conf

.vscode
.idea

.env
.env.local
.env.development
.env.production

*.log
npm-debug.log
yarn-error.log
pnpm-debug.log

public/env-config.js
