apiVersion: v1
kind: Secret
metadata:
  name: {{ item.secret_name }}
type: Opaque
stringData:
  db-url: "jdbc:mysql://{{ rds_host }}:3306/{{ item.name }}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC"
  db-username: "{{ item.user }}"
  db-password: "{{ item.password }}"
