apiVersion: v1
kind: Secret
metadata:
  name: frontend-secret
type: Opaque
stringData:
  env-config.js: |
    window._env_ = {
      VITE_AUTH_BASE_URL: "{{ 'http://' ~ master_node ~ '/api' }}"
    };
